<h1>sign up</h1>
<%= form_for(@user, url: users_url) do |f| %>
  <%= render 'shared/error_messages', object: @user %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "John Doe", class: 'form-control' %>
  <%= f.label :email %>
  <%= f.email_field :email, placeholder: "mail@example.com", class: 'form-control' %>
  <%= f.submit "Sign Up", class: "btn btn-primary" %>
<% end %>