<header class="navbar fixed-top navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Private Events", root_url, id: "logo" %>
    <nav>
      <ul class="nav d-flex justify-content-end">
        <li class="nav-item"><%= link_to "View Events", events_url, class: "nav-link" %></li>
        
        <%if logged_in? %>
          <li class="nav-item">
            <%= link_to "Create Event", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", logout_path, class: "nav-link",id: "logout", method: :delete %>
          </li>
          
        <% else %>
          <li class="nav-item"><%= link_to "Log in", login_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Sign Up", signup_url, class: "nav-link" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>