<h5 class="my-0 mr-md-auto font-weight-normal">
  <%= link_to "Private Events", root_url, id: "logo" %>
</h5>
<nav class="my-2 my-md-0 mr-md-3">    
    <%= link_to "View Events", events_url, class: "p-2 text-dark" %>
    <%if logged_in? %>
    <%= link_to "Create Event", "#", class: "p-2 text-dark" %>
    <%= link_to "Log out", logout_path, class: "p-2 text-dark",id: "logout", method: :delete %>
    <% else %>
    <%= link_to "Log in", login_path, class: "p-2 text-dark" %>
    <%= link_to "Sign Up", new_user_url, class: "btn btn-outline-primary" %>
    <% end %>   
</nav>
